.app {
  text-align: center;
  background-color: #31353e;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app.sunny {
  background-color: gold;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: white;
}

.search {
  width: 18rem;
  height: 5rem;
}
.container {
  width: 20vw;
  height: 5vh;
}

.searchbar {
  border: none;
  appearance: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.searchbar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.card {
  display: grid;
  grid-template-columns: 3rem 10rem 3rem;
  grid-template-rows: 3rem 11rem 12rem;
  width: 16rem;
  height: 26rem;
  background-color: rgba(255, 255, 255, 0.75);

  background-position: center;
  background-repeat: no-repeat;

  padding: 9px;
  border-radius: 0.5rem;
  flex-direction: row;
}

.card.sunny {
  background: #e5c852;
}

.card.rain {
  background: #2a99b7;
}
.dateAndTime {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time,
.date {
  width: auto;
  height: 50%;
  font-size: 1.2rem;
}

.time {
  color: #31353e;
}

.date {
  color: white;
  text-transform: uppercase;
}

.weather {
  grid-column-start: 2;
  grid-row-start: 2;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);
  background-size: cover;
  max-width: 10rem;
}
.api-wrapper {
  grid-row-start: 3;
  grid-row-end: 3;
  width: 100%;
  grid-template-columns: 3rem 10rem 3rem;
  display: grid;
  grid-template-rows: 3rem 3rem 3rem 3rem;
}

.degrees {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 2rem;
  color: #31353e;
}

.description {
  text-transform: uppercase;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 1.2rem;
  color: #31353e;
}

.location {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  color: white;
  align-items: center;
  text-transform: uppercase;
}
